@use "config" as *;

.preview {
  margin: 10.6rem auto 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 5.6rem;
  border-radius: 24px;
  background: $white;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  padding: 4.8rem 5.6rem;
  min-height: 57rem;
  width: 35rem;

  .links {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 2rem;
    max-height: 24rem;
    overflow-y: auto;

    li {
      list-style: none;
    }
  }
}

.links::-webkit-scrollbar {
  width: 10px;
  background: $white;
}

.links::-webkit-scrollbar-thumb {
  background: $purple;
  border: 3px solid $white;
  border-radius: 30px;
}

@media all and (max-width: 770px) {
  .preview {
    margin: 12.6rem auto 0;
  }
}

@media all and (max-width: 500px) {
  :host {
    display: inline-flex;
    width: 100%;
    flex-grow: 1;
  }

  .preview {
    margin: 0;
    width: 100%;
    min-height: unset;
    border-radius: 0;
    box-shadow: unset;
    padding: 6rem 0;

    .links {
      max-height: unset;
    }

    &>*,
    .links {
      width: 23.7rem;
    }
  }
}

@media all and (max-width: 300px) {
  .preview {
    padding: 6rem 1.6rem 6rem 2.4rem;

    &>*,
    .links {
      width: 100%;
    }
  }
}