@use "config" as *;

:host {
  display: flex;
  position: absolute;
  bottom: 4rem;
  z-index: 50;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  background: $grey-dark;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  padding: 0 2.4rem;
  height: 5.6rem;

  &.error {
    background: $grey-light;
    border: 1px solid $grey-borders;

    .text {
      color: transparentize($color: $red, $amount: 0.1);
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    color: $grey-light;
    @extend %heading-s;
  }
}

@media all and (max-width: 400px) {
  .toast {
    margin: 0 auto;
    width: 80%;
    padding: 1.6rem 2.4rem;
    height: fit-content;
  }
}