@use "config" as *;

.avatar {
  width: 10.4rem;
  height: 10.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  &.mockup {
    width: 9.6rem;
    height: 9.6rem;
  }
  border-radius: 50%;
  background: #eee;
  &.present {
    border: 4px solid var(--Purple, #633cff);
  }

  img {
    // position: absolute;
    display: flex;
    width: 100%;
    min-height: 100%;
    height: auto;
    border-radius: inherit;
  }
  .initials {
    margin: auto;
    @extend %heading-m;
  }
}
