.logo {
  display: flex;
  gap: 7.5px;
  align-items: center;
  height: 4rem;
  width: fit-content;

  * {
    display: flex;
    align-items: center;
  }

  &.small {
    gap: 6px;
  }
}

@media all and (max-width: 500px) {
  .logo {
    .devlinks-small {
      display: none;
    }
  }
}
