<a [href]="link?.url" class="dev-link" [class.small]="variant === 'small'" [ngClass]="platformId">
  <ng-container>
    <app-codepen [variant]="variant" class="logo icon" *ngIf="platformId === 'codepen'" />
    <app-codewars [variant]="variant" class="logo icon" *ngIf="platformId === 'codewars'" />
    <app-dev-to [variant]="variant" class="logo icon" *ngIf="platformId === 'dev_to'" />
    <app-facebook [variant]="variant" class="logo icon" *ngIf="platformId === 'facebook'" />
    <app-freecodecamp [variant]="variant" class="logo icon" *ngIf="platformId === 'freecodecamp'" />
    <app-frontend-mentor [variant]="variant" class="logo icon"
      *ngIf="platformId === 'frontend_mentor'" />
    <app-github [variant]="variant" class="logo icon" *ngIf="platformId === 'github'" />
    <app-gitlab [variant]="variant" class="logo icon" *ngIf="platformId === 'gitlab'" />
    <app-hashnode [variant]="variant" class="logo icon" *ngIf="platformId === 'hashnode'" />
    <app-linkedin [variant]="variant" class="logo icon" *ngIf="platformId === 'linkedin'" />
    <app-stack-overflow [variant]="variant" class="logo icon"
      *ngIf="platformId === 'stack_overflow'" />
    <app-twitch [variant]="variant" class="logo icon" *ngIf="platformId === 'twitch'" />
    <app-twitter [variant]="variant" class="logo icon" *ngIf="platformId === 'twitter'" />
    <app-youtube [variant]="variant" class="logo icon" *ngIf="platformId === 'youtube'" />
  </ng-container>
  <p class="platform">{{ link?.platform }}</p>
  <app-arrow-right class="arrow icon" />
</a>