<main class="layout" [class.preview]="previewMode">
  <header class="header" [class.preview]="previewMode">
    <ng-container *ngIf="!previewMode; else preview">
      <app-logo class="logo" variant="small" />
      <nav class="nav">
        <a class="link" routerLink="/links" routerLinkActive="active"><app-link-bold class="icon" />
          <span class="text">Links</span></a>
        <a class="link" routerLink="/profile" routerLinkActive="active"><app-user-circle
            class="icon" />
          <span class="text">Profile Details</span></a>
      </nav>
      <button class="preview-button" routerLink="/preview">
        <app-eye-bold class="icon" />
        <span class="text">Preview</span>
      </button>
    </ng-container>
    <ng-template #preview>
      <app-button class="back" label="Back to Editor" variant="secondary" routerLink="/links" />
      <app-button class="share" label="Share Link" [cdkCopyToClipboard]="link"
        (clickHandler)="shareLink()" />
    </ng-template>
  </header>
  <router-outlet></router-outlet>
</main>