@use "config" as *;

.login {
  width: 100%;
  height: 100%;

  .info {
    margin-top: 8px;
    margin-bottom: 4rem;
  }
  .form {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.4rem;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .input {
      padding-left: 4.4rem;
      padding-right: 1.6rem;
      color: $grey-dark;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      border: 0;
      outline: 0;
      caret-color: $purple;
      @extend %body-m;
      &::placeholder {
        color: inherit;
        opacity: 0.5;
      }
    }
  }

  .navigate {
    text-align: center;
    .link {
      color: $purple;
      &:visited {
        color: $purple;
      }
      text-decoration: none;
    }
  }
}

@media all and (max-width: 550px) {
  .login {
    .input {
      background: $grey-light;
    }
    .navigate {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
}
