<section class="login">
  <app-heading heading="Login" />
  <p class="info">Add your details below to get back into the app</p>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-form-input
      label="Email address"
      [error]="
        email.touched && email.errors && email.errors['email']
          ? 'Invalid email'
          : email.touched && email.errors && email.errors['required']
          ? 'Can\'t be empty'
          : email.touched && email.errors
          ? 'Error'
          : ''
      "
    >
      <app-envelope class="icon" />
      <input
        class="input"
        type="text"
        id="Email address"
        placeholder="e.g. alex@email.com"
        formControlName="email"
      />
    </app-form-input>
    <app-form-input
      label="Password"
      [error]="
        password.touched && password.errors && password.errors['minlength']
          ? 'Please check again'
          : password.touched && password.errors && password.errors['required']
          ? 'Can\'t be empty'
          : password.touched && password.errors
          ? 'Error'
          : ''
      "
    >
      <app-lock-key class="icon" />
      <input
        class="input"
        type="password"
        id="Password"
        placeholder="Enter your password"
        formControlName="password"
      />
    </app-form-input>
    <app-button
      [disabled]="!loginForm.valid"
      class="button"
      type="submit"
      label="Login"
      (clickHandler)="onSubmit()"
    />
  </form>

  <p class="navigate">
    Don’t have an account?
    <a class="link" routerLink="/auth/register">Create account</a>
  </p>
</section>
